</div>
<div id="footer">
    <div id="footerin">
        <div class="rtxt">
            <sub></sub>

            <p class="robot"><span>Текст для робота</span></p>

            <div class="rt opened">
                <p>В нашем Интернет магазине канцелярских товаров представлен широкий ассортимент продукции известных
                    производителей, которые несут ответственность за качество канцелярских товаров и способны обеспечить
                    эффективную логистику поставок и доступные цены.</p>
            </div>
        </div>
        <!-- .rtxt -->
        <div class="copy">
            <span>&copy; <?=date('Y')?> Офис-мастер</span>
            <div class="topcontacts">
                <p class="phone"><span class="code">(048)</span> 730<em></em>90<em></em>01</p>
                <p>Одесса, ул. Раскидайловская, 18</p>
                <a class="allcontacts" href="index.php?route=information/contact">Все контакты</a>
            </div>
            <!--LiveInternet counter--><script type="text/javascript">document.write("<a href='http://www.liveinternet.ru/click' target=_blank><img src='//counter.yadro.ru/hit?t11.6;r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u" + escape(document.URL) + ";" + Math.random() + "' border=0 width=88 height=31 alt='' title='LiveInternet: number of pageviews for 24 hours, of visitors for 24 hours and for today is shown'><\/a>")</script><!--/LiveInternet-->
        </div>
        <a id="cooper" href="http://cooper-design.com.ua/"><span>Создание сайта</span></a>
        <div class="clr"></div>
    </div>
    <!-- #Footerin -->
</div>
<!-- #Footer -->
<div class="shadow"></div>
    <form method="post" action="#" class="popenter">
        <h2>Вход</h2>
        <dl>
            <dt>Эл. почта:</dt>
            <dd><input type="text" name="email"/></dd>
        </dl>
        <dl>
            <dt>Пароль:</dt>
            <dd><input type="password" name="password"/><noindex><a href="index.php?route=account/forgotten" rel="nofollow">напомнить</a></noindex></dd>
        </dl>
        <!--<dl>
            <dt>&nbsp;</dt>
            <dd><label><input type="checkbox" />Запомнить меня</label></dd>
        </dl>-->
        <dl>
            <dt>&nbsp;</dt>
            <dd><input type="submit" value="Войти&nbsp;&nbsp;&nbsp;"/></dd>
        </dl>
        <div></div>
    </form>
    <div class="popok">
        <div></div>
        <h2>Операция завершена</h2>
        <div class="poksub">Спасибо</div>
    </div>

<script type="text/javascript">
	$('.popenter input[type=submit]').click(function() {
		$.post('index.php?route=account/login/validate', {
			email: $('.popenter input[name=email]').val(),
			password: $('.popenter input[name=password]').val()
		}, function(re) {
			if (!re) {
				alert('Доступ запрещен!');
			} else {
				window.location = 'index.php';
			};
		});
		return false;
	})
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27366514-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Google Code for &#1087;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1080; &#1089;&#1072;&#1081;&#1090;&#1072; Remarketing List -->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 952196939;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "2ehRCI3P0AMQy76FxgM";
	var google_conversion_value = 0;
	/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/952196939/?label=2ehRCI3P0AMQy76FxgM&amp;guid=ON&amp;script=0"/>
	</div>
</noscript>
</body>
</html>