<!--<p><?=$text_payment?></p>-->
<p>Пожалуйста, подтвердите ваш заказ. После подтверждения наш менеджер свяжется с вами в кратчайшие сроки.</p>
<input type="submit" value="Подтвердить&nbsp;&nbsp;&nbsp;" id="checkout"/>
<script type="text/javascript"><!--
$('#checkout').click(function() {
	$.ajax({ 
		type: 'GET',
		url: 'index.php?route=payment/bank_transfer/confirm',
		success: function() {
			location = '<?php echo $continue; ?>';
		}
	});
	return false;
});
//--></script>
