/* CSS reset */
html{}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;	padding:0;}
table {	border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
li {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select {font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select {*font-size:100%;}
legend {color:#000;}
a, button, * {outline:none;}
textarea { resize: none; overflow: auto }

/* ClearFix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix {display:inline-block;}
.clr {clear:both;font-size:0;height:1px;overflow:hidden;}

/* General Styles */
.hidden { display:none; }
.i { font-style:italic; }
.b { font-weight:bold; }
.fl { float:left; }
.fr { float:right; }

a:link, a:visited {color:#fd9514;}
a:hover, a:active {text-decoration:none;}

.input-t {position:relative;height:23px; }
.input-t input {width:100%;height:16px; padding:5px 0; line-height:13px; border:none; background:url("../img/repeatx.png") repeat-x 0 -39px; }
.input-t sub, .input-t sup {width:3px; height:26px; position:absolute; top:0; background:url("../img/bg.png") no-repeat 0px -154px;}
.input-t sub {left:-3px;}
.input-t sup {right:-3px; background-position:-3px -154px;}


/* Layout */
body {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; /*background:url("../img/bodybg.png") repeat-y 0 0;*/}
#wrapper { min-width: 1000px; /*max-width: 1400px; */ }
#top {}
#mid {}
#midleft {width:21%; margin-left:3%; float:left;}
#midright {width:74%; float:right;}

/* Fast navigation */
#fastnavigation {margin:45px 0 0 3%; float:left;}
#fastnavigation ul {}
#fastnavigation li {width:12px; height:12px; margin-bottom:20px;}
#fastnavigation a:link, #fastnavigation a:visited {display:block;width:12px; height:12px; text-indent:-9999px; background:url("../img/bg.png") no-repeat 0 0;}

#fastnavigation .fa-1:link, #fastnavigation .fa-1:visited {background-position:-36px 0;}
#fastnavigation .fa-1:hover, #fastnavigation .fa-1:active, #fastnavigation .fa-1.active {background-position:-36px -12px;}

#fastnavigation .fa-2:link, #fastnavigation .fa-2:visited {background-position:-24px 0;}
#fastnavigation .fa-2:hover, #fastnavigation .fa-2:active, #fastnavigation .fa-2.active  {background-position:-24px -12px;}

#fastnavigation .fa-3:link, #fastnavigation .fa-3:visited {background-position:-12px 0;}
#fastnavigation .fa-3:hover, #fastnavigation .fa-3:active, #fastnavigation .fa-3.active  {background-position:-12px -12px;}

#fastnavigation .fa-4:link, #fastnavigation .fa-4:visited {background-position:0 0;}
#fastnavigation .fa-4:hover, #fastnavigation .fa-4:active, #fastnavigation .fa-4.active  {background-position:0 -12px;}

/* Logo */
#logo {width:147px; height:112px; float:left; margin:40px 0 0 4%;}

/* Topmenu */
#topmenu {float:left; margin:35px 0 0 11%;}
#topmenu ul {}
#topmenu li {float:left; margin:0 20px 0 0;}
#topmenu a:link,#topmenu a:visited {color:#000;}
#topmenu a:hover, #topmenu a:active {text-decoration:none;}

/* Top contacts */
#topcontacts {float:left; margin:20px 0 0 5px; }
#topcontacts p {font-size:13px;}
#topcontacts .phone {font-size:32px;}
#topcontacts .phone .code {font-size:18px;}
#topcontacts .phone em {display:inline-block; width:5px; background:url("../img/dot.png") no-repeat 0 18px; margin:0 4px; height:32px; line-height:32px;}
.allcontacts:link, .allcontacts:visited {color:#f74b26; font-size:11px;}
.allcontacts:hover, .allcontacts:active {}

/* Cart */
#cart {width:129px; padding:10px 45px 0 14px; height:120px; float:right; background:url("../img/bg.png") no-repeat 0 -24px;}
#cart a:link, #cart a:visited {color:#54a61a; margin-left:12px; }
#cart a:hover, #cart a:active {}
#cart table {width:100%; margin-top:12px;}
#cart .tov {font-size:11px;}
#cart .tdl {padding:0 0 0 12px;}
#cart .tdr {text-align:right; padding-right:12px;}

/* Login */
.login {float:right; margin:-39px 4% 0 0;}
.login a:link, .login a:visited {color:#f85c55;}
.login a:hover, .login a:active {}



/* Category */
.categories {margin:0 0 0 0;}
.closed ul {display:none;}
.categories .parent:link, .categories .parent:visited {font-size:16px; color:#fe2b2b; text-decoration:none;}
.categories .opened .parent:link, .categories .opened .parent:visited {font-weight:bold;}
.categories .parent:hover, .categories .parent:active {}
.categories .parent:link span, .categories .parent:visited span {border-bottom:1px dotted #fe2b2b;}
.categories .parent:hover span, .categories .parent:active span {border-bottom:1px dotted transparent;}
.categories li {   margin-bottom: 10px;}
.subcategory {margin:5px 0 20px 20px;}
.subcategory li {margin:0 0 13px 0;}
.subcategory a:link, .subcategory a:visited {font-size:13px; text-decoration:none; color:#010100;}
.subcategory a:hover, .subcategory a:active {}
.categories .opened .parent {font-weight:bold;}

.subcategory a:link span, .subcategory a:visited span {border-bottom:2px solid transparent;}
.subcategory a:hover span, .subcategory a:active span {border-bottom:2px solid #80807f;}

/* Search */
.search {background:url("../img/repeatx.png") repeat-x 0 0; margin:0 -55px 0 -10px; min-width:285px; position:relative;}
.searchleft {background:url("../img/carl.png") no-repeat 0 0;}
.searchright {height:33px; padding:6px 0 0 0; background:url("../img/carr.png") no-repeat 100% 0;}
.search_wrap {position:relative; margin:0 109px 0 16px;}
.s_btn {background: url("../img/bg.png") no-repeat -6px -154px;border: none;cursor: pointer; height: 26px; position: absolute; right: -24px; top: 0; vertical-align: top; width: 24px; z-index: 2;}
.s_inp {color:#252525; font-size:14px;}
.ex {font-size:11px; color:#828282; position:absolute; top:40px; left:16px;}
.ex span {color:#fd8914; border-bottom:1px dotted #ff552d; cursor:pointer;}
.ex span:hover { border-bottom:1px dotted transparent;}

.smap a {color:#252525;}
/* New product */
.newproduct {width:50%; float:left;}
.newproduct .h2 {text-indent:-9999px; margin-bottom:45px; width:250px; height:33px; background:url("../img/bg.png") no-repeat 0 -180px;}
.newproduct .h2 a {display:block; height:33px;}
.newproduct .item-img {width:140px; height:140px; float:left; padding:38px 0 0 0;}
.newproduct .item-img img {width:140px; height:140px;}
.newproduct .item-right {margin:0 0 0 160px;}
.newproduct .item-desc {width:100%; float:left;}
.newproduct .price {display:inline-block; letter-spacing:-1px; width:104px; height:35px; line-height:35px; background:url("../img/bg.png") no-repeat -188px 0; text-align:center; color:#fff; font-size:24px;}
.newproduct .price span {font-size:18px; letter-spacing:normal;}
.newproduct .price em {font-size:12px; letter-spacing:normal;}
.newproduct .addto {display:inline-block; margin-left:5px; height:22px; line-height:22px; padding:0 0 0 30px; background:url("../img/ico.png") no-repeat 0 0;}
.newproduct .addto em {color:#fd8914; border-bottom:1px dotted #fd8914; cursor:pointer;}
.newproduct .addto em:hover {border-bottom:1px dotted transparent;}
.newproduct .item-cat {padding:0 0 6px 0;}
.newproduct .item-cat a:link, .newproduct .item-cat a:visited {color:#bf794a; font-size:11px; text-decoration:none;}
.newproduct .item-cat a:hover, .newproduct .item-cat a:active {text-decoration:underline;}
.newproduct .item-name {padding:0 0 5px 0;}
.newproduct .item-name a:link, .newproduct .item-name a:visited {color:#3c332a; font-size:17px; font-weight:bold; text-decoration:none;}
.newproduct .item-name a:hover, .newproduct .item-name a:active {text-decoration:underline;}
.newproduct .articul {display:inline-block; height:18px; line-height:18px; padding:0 0 0 30px; background:url("../img/ico.png") no-repeat 0 -50px; font-size:11px;}
.newproduct .item-txt {font-size:13px; line-height:17px; padding:15px 0 25px 0;}


/* Info */
.info {width:150px; float:right; margin:0 2% 0 0;}
.alfa:link, .alfa:visited {display:block; font-size:13px; text-decoration:none; color:#fc3f0d; background:url("../img/alfa.png") no-repeat 0 0; padding:98px 0 0 10px;}
.alfa:hover, .alfa:active {}
.alfa span { text-decoration:underline;}
.alfa:hover span, .alfa:active span {text-decoration:none;}


.load {margin:35px 0 0 0; background:url("../img/load.png") no-repeat 0 0; padding:100px 0 0 10px; color:#828282; font-size:13px;}
.load a:link, .load a:visited {color:#fc3f0d; font-size:13px;}
.load a:hover, .load a:active {}
.load ul {}
.load li {font-size:11px; padding-bottom:20px;}

/* Lider tabs */
.ln {width:20%; z-index:2; float:left; margin:6px 0 35px 1%; padding:12px 19px 0 19px; position:relative; background:url("../img/px.png") repeat 0 0;}
.twoset {display:none;}
.twoset.active {display:block;}
.cntrl {position:absolute; left:19px; bottom:-25px; z-index:2;}
.cntrl span {display:inline-block; cursor:pointer; width:8px; height:8px; background:url("../img/bg.png") no-repeat -56px 0; margin-right:5px;}
.cntrl span.active {background-position:-48px 0;}
.lntop {width:100%; height:6px; position:absolute; top:-6px; left:0; background:url("../img/toplider.png") repeat-x 0 0;}
.lnbot {width:100%; height:36px; position:absolute; bottom:-36px; left:0; background:url("../img/px.png") repeat 0 0;}
.lnbot sup {width:38px; height:36px; position:absolute; right:0; top:0; background:url("../img/bg.png") no-repeat -213px -57px;}
.ln .h4 {width:136px; height:18px; margin:0 0 18px 0; background:url("../img/bg.png") no-repeat -30px -154px; text-indent:-9999px;}
.ln .h4 a{display:block; height:18px;}
.ln .item {padding:0 0 20px 0;}
.ln .odd {padding:0;}
.ln .item img {width:75px; height:75px;}
.ln .item .item-img {width:75px; height:75px; border:1px solid #ffe0c4; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.ln .item-name a:link, .ln .item-name a:visited {color:#3c332a; text-decoration:none; font-weight:bold;}
.ln .item-name a:hover, .ln .item-name a:active {text-decoration:underline;}
.ln .item-buy {width:103px; height:22px;position:absolute; top:0; right:0; line-height:22px; background:url("../img/bg.png") no-repeat -188px -35px;}
 .ln .item-buy .price {color:#fff;  width:66px; font-size:13px; display:inline-block; margin:0 0 0 36px; text-align:center;}
  .ln .item-buy .price em {font-size:10px;}
  .ln .item-buy .price span{font-size:11px;}
.ln .item-name {position:relative; padding:4px 75px 5px 0;}
.ln .articul {font-size:11px; color:#070707;}
.ln .item-right {padding:6px 0 0 0;}
.ln .item-txt {color:#6f5841; font-size:11px; line-height:14px; padding:6px 0 3px 0;}
.ln .addto em {color:#f55552; border-bottom:1px dotted #f55552;}
.ln .addto em:hover {color:#f55552; border-bottom:1px dotted transparent; cursor:pointer;}
.ln .item-img {position:relative;}
.ln .item-img sub {width:9px; height:9px; position:absolute; right:0; top:0; background:url("../img/bg.png") no-repeat -64px 0;}

/* Skidki */
.skidki {margin:-140px 0 0 11%;   position:relative; width:446px; height:480px; background:url("../img/skidki.png") no-repeat 0 100%;}
.skidki img {width:75px; height:75px;}
.skidki .active .item-img {width:75px; height:75px; position:absolute; top:240px; left:194px;}
.skidki .active .item-desc {top:237px; left:285px; position:absolute;}
.skidki .active .item-name {padding:0 0 6px 0; width:200px; font-size:16px;}
.skidki .active .item-txt {color:#7f7f7f; font-size:11px; line-height:14px; padding:20px 0 10px 0;}
.skidki .active .item-name a:link, .skidki .active .item-name a:visited {color:#3c332a; text-decoration:none; font-weight:bold;}
.skidki .active .item-name a:hover, .skidki .active .item-name a:active {text-decoration:underline;}
.skidki  .active .articul {display:inline-block; height:18px; line-height:18px; padding:0 0 0 30px; background:url("../img/ico.png") no-repeat 0 -50px; font-size:11px;}
.skidki  .active .price {position:absolute; font-size:14px; left:-163px; top:-55px; width:50px; color:#fff; text-align:center;}
.skidki  .active .price em {display:block; font-size:10px;}
.skidki  .active .price span { font-size:11px;}

.skidki .passive .item-img {display:none;}
.skidki .passive .item-img {display:none;}
.skidki .passive .item-txt {display:none;}
.skidki .passive .item-buy {display:none;}
.skidki .passive .articul {display:none;}

.skidki .passive {}

.skidki  .addto {display:inline-block; margin-left:5px; height:22px; line-height:22px; padding:0 0 0 30px; background:url("../img/ico.png") no-repeat 0 -100px; cursor:pointer;}
.skidki .addto em {color:#e93e38; border-bottom:1px dotted #e93e38; cursor:pointer;}
.skidki .addto em:hover {border-bottom:1px dotted transparent;}
.skidki .passive .item-name {position:absolute;}
/*.skidki .passive .item-name a:link, .skidki .passive .item-name a:visited {color:#f76554; border-bottom:1px dotted #f76554;}*/
/*.skidki .passive .item-name a:hover, .skidki .passive .item-name a:active {border-bottom:1px dotted transparent;}*/


#it-1 .item-name {position:absolute; top:241px; left:-110px; width:220px; padding:5px 0 0 32px; min-height:32px; background:url("../img/ico.png") no-repeat 0 -200px;}
#it-1 .item-name a:link, #it-1 .item-name a:visited{color:#f55a57; font-size:20px; text-decoration:none; border-bottom:1px dotted #f55a57;}
#it-1 .item-name a:hover, #it-1 .item-name a:active {border-bottom:1px dotted transparent;}


#it-2 .item-name {position:absolute; top:333px; left:-55px; width:160px; padding:0 0 0 15px; min-height:20px; background:url("../img/ico.png") no-repeat 0 -400px;}
#it-2 .item-name a:link, #it-2 .item-name a:visited{color:#f76554; font-size:10px; text-decoration:none; border-bottom:1px dotted #f76554;}
#it-2 .item-name a:hover, #it-2 .item-name a:active {border-bottom:1px dotted transparent;}

#it-3 .item-name {position:absolute; top:170px; margin-left:100%; left:-67px; width:220px; padding:6px 0 0 25px; min-height:30px; background:url("../img/ico.png") no-repeat 0 -300px;}
#it-3 .item-name a:link, #it-3 .item-name a:visited{color:#f76554; font-size:15px; text-decoration:none; border-bottom:1px dotted #f76554;}
#it-3 .item-name a:hover, #it-3 .item-name a:active {border-bottom:1px dotted transparent;}

#it-4 .item-name {position:absolute; top:275px; margin-left:100%; left:20px; width:170px; padding:2px 0 0 19px; min-height:20px; background:url("../img/ico.png") no-repeat 0 -500px;}
#it-4 .item-name a:link, #it-4 .item-name a:visited{color:#f76554; font-size:12px; text-decoration:none; border-bottom:1px dotted #f76554;}
#it-4 .item-name a:hover, #it-4 .item-name a:active {border-bottom:1px dotted transparent;}

.allskid:link, .allskid:visited {color: #FD9514;font-size: 25px;left: 111px; position: absolute;top: 385px;}
.allskid:hover, .allskid:active {text-decoration:none; }

/* News */
.news {margin:0 0 0 47%; width:32%;}
.news .h3 {font-size:16px; padding:0 0 12px 0;}
.anons {position:relative; padding:5px 0 20px 0;}
.date {color:#f74b26; font-size:11px; position:absolute; margin-right:100%; top:6px; right:15px;}

/* Footer */
#footer {background:url("../img/fbg.png") repeat-x 0 0;min-width: 1000px;/* max-width: 1400px; */}
#footerin {min-width: 1000px;/* max-width: 1400px;*/  position:relative;  min-height:100px; padding:30px 0 40px 0;}
.copy {font-size:13px; /*color:#e93e38;*/ margin:5px 0 0 47%;}

/* Robot text */
 .rtxt {width:30%; float:left; position:relative; margin:0 0 0 4%; padding:0 0 0 40px;}
.rtxt sub {width:25px; height:48px; position:absolute; left:0px; top:-20px; background:url("../img/bg.png") no-repeat -188px -57px;}
.rt.closed {display:none;}
.robot span {color:#fe2b2b; border-bottom:1px dotted #fe2b2b; font-size:18px; cursor:pointer;}
.robot span:hover {border-bottom:1px dotted transparent; }
.rt {color:#7f7f7f; font-size:13px; line-height:18px; padding:10px 0 0 0;}

/* Cooper */
#cooper:link, #cooper:visited {display:block; width:126px; text-align:center; text-decoration:none; background:url("../img/cooper.png") no-repeat 0 100%; position:absolute; top:36px; right:4%; padding:0 0 26px 0;}
#cooper:hover, #cooper:active {background-position:-126px 100%;}

#cooper:link span, #cooper:visited span {color:#e93e38; font-size:10px;}
#cooper:hover span, #cooper:visited active {color:#fd8914; }


/* Script */
#script {height:290px;}

#carousel { position:relative; width:100%; margin:17px 0 0 0;}
.ccontent {position:relative; overflow:hidden; width:1936px;}
.ccontent li {float:left; width:484px; height:267px; position:relative; text-align:center; }
#wrapcar {position:relative;height:267px;}
#carwrap  {position:relative; overflow:hidden;  height:267px; }
.next, .prev {display: block; cursor:pointer; width:19px; height:19px; position:absolute; top:20px;  z-index:3;}
.next {right:2%; width:auto; white-space:nowrap;}
.next em {color:#f32e2e; font-size:17px; border-bottom:1px dotted #f32e2e;}
.next em:hover {border-bottom:1px solid transparent; }
.prev {left:2%; width:auto; white-space:nowrap; }
.prev em {color:#f32e2e; font-size:17px; border-bottom:1px dotted #f32e2e; }
.prev em:hover {border-bottom:1px solid transparent; }
.mmm {display:none;}

/*.ccontent li.nextitem {text-align:left;}*/
/*.ccontent li.previtem {text-align:right;}*/


.titlewrap {width:300px; position:absolute; left:50%; margin-left:-150px; top:-50px; z-index:6; text-align:center;}
.title {display:none;}
.titlewrap span em {color:#fd9514; font-size:27px; border-bottom:1px dotted #fd9514; cursor:pointer; }
.titlewrap span {background:url("../img/ico.png") no-repeat 100% -700px; padding-right:22px; }
.titlewrap .shown span {background-position:100% -750px;}
.titlewrap li span {background:none; padding:0;}

#carousel  .item-right {display:none;}
#carousel .item-right {/*display:block;*/ text-align:left; position:absolute; right:80px; bottom:20px;}
#carousel .active .item-name  {float:left;position:relative; padding:0 0 5px 0;}
#carousel .active .item-buy {width:67px; height:22px; line-height:22px; color:#fff; text-align:center; background:url("../img/bg.png") no-repeat -188px -105px; position:absolute; margin-left:100%; left:1px; top:-18px; white-space:nowrap;}
#carousel .active  .articul {display:inline-block; height:18px; line-height:18px; padding:0 0 0 30px; background:url("../img/ico.png") no-repeat 0 -50px; font-size:11px;}
#carousel .active .price {font-size:13px;}
#carousel .active .price em {font-size:10px;}
#carousel .active .price span {font-size:11px;}
.duga {width:71px; height:22px; background:url("../img/bg.png") no-repeat -188px -127px; position:absolute; top:-12px; left:-71px;}
.shad {width:20px; height:290px; background:url("../img/shad.png") no-repeat 0 0; position:absolute; right:0; top:0; z-index:3;}

/* Subscription */
#midbot {position:relative;  }
.subscribe {width:200px; position:absolute; top:0; right:3%;}
.pod {background:url("../img/ico.png") no-repeat 0 -595px; padding:0 0 8px 26px;}
.opened .pod {background-position:0 -646px;}
.pod span {color:#fd8914; font-size:16px; border-bottom:1px dotted #fd8914; cursor:pointer;}
.pod span:hover {border-bottom:1px dotted transparent;}
.input-r {width:175px; padding:2px 0 2px 7px; margin:0 0 10px -7px; height:15px; line-height:15px; border:none; background:url("../img/bg.png") no-repeat 0 -243px; color:#f74b26; font-size:11px;}
#submit-r {color:#fd8914; text-decoration:underline; cursor:pointer;}
#submit-r:hover {text-decoration:none;}
.ras {margin:0 0 0 26px;}

/* Service */
.service {position:relative; }
.service span {}
.service em {}
.service span:hover em {border-bottom:1px dotted transparent;}
.service .ul {top:36px; left:35px; z-index:5; width:180px; text-align:left; padding:0 20px; background:url("../img/repy.png") repeat-y 0 0; position:absolute; display: none;}
.service .ul li {padding:6px 0;}
.service a:link, .service a:visited {color:#181818; font-size:13px; line-height:15px; text-decoration:none;}
.service a:hover, .service a:active {text-decoration:underline;}
.fix {height:100%;left:0;position:fixed; top:0; width:100%; z-index:2; display: none; }
.closed .ras {display:none;}
.ultop {width:220px; height:4px; position:absolute; left:0; top:-4px; background:url("../img/bg.png") no-repeat 0 -232px;}
.ulbot {width:220px; height:7px; position:absolute; left:0; bottom:-7px; background:url("../img/bg.png") no-repeat 0 -236px;}



/* Style inner page */

.tc_wrap {margin:0 2% 20px 0;overflow:hidden;}
.tc_wrap h1 {font-size:27px;line-height:32px;}

#crumb {font-size:11px;color:#7f7f7f;margin-top:2px;}
#crumb a {color:#7f7f7f;text-decoration:none;background:url(../img/cr_arr.png) no-repeat 100% 5px;padding-right:11px;margin-right:3px;}
#crumb a:hover {text-decoration:underline;}
#crumb a.not {cursor:default;}
#crumb a.not:hover {text-decoration:none;}

.tc_w_l {float:left;width:59%;}
.tc_w_r {float:right;width:40%;max-width:320px;}
.tc_w_r .search {margin:0;margin-bottom:20px;}


.content {width:75%;float:left;margin-bottom:50px;}
.content h2 {font-size:17px;font-weight:bold;color:#3c332a;margin-bottom:10px;}
.content h3 {font-size:13px;font-weight:bold;color:#f55958;margin-bottom:10px;}
.content p {font-size:13px;line-height:19px;margin-bottom:15px;}
.content > ol {font-size:13px;margin:0 0 10px 40px;}
.content > ol > li, .content ul li ol li, .content ol li ol li {list-style-type:decimal;margin-top:5px;}
.content > ol > li:first-child, .content > ul > li:first-child, .content ul li ol li:first-child, .content ol li ol li:first-child, .content ol li ul li:first-child, .content ul li ul li:first-child {margin:0;}
.content > ul {font-size:13px;margin:0 0 10px 25px;}
.content > ul > li, .content ol li ul li, .content ul li ul li {background:url(../img/dot2.png) no-repeat 0 6px;padding-left:15px;margin-top:5px;}
.content ul li ol, .content ol li ol {margin-left:20px;}
.content ol li ul, .content ul li ul {margin-left:5px;}
.content blockquote {font-size:15px;line-height:23px;background:#fff1e3;padding:17px 25px;margin-bottom:10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#252525;}
.content blockquote p {font-size:15px;line-height:23px;margin-bottom:0;color:#252525;}
.content > img {display:block;text-align:center;margin:0 auto 5px auto;max-width:550px;}
.content code {font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#7f7f7f;display:block;text-align:center;margin-bottom:10px;}

.inner {}
.inner .categories {margin-top:85px;}
.inner .info {margin-top:20px;}

.inp_f_text {background:url(../img/fg.png) repeat-x 0 0;width:55%;padding:3px 6px 4px 6px;position:relative;}
.inp_f_text input {background:none;border:0;width:100%;color:#252525;}
.inp_f_text sub {background:url(../img/fl.png) no-repeat 0 0;width:5px;height:22px;position:absolute;top:0;left:0;}
.inp_f_text sup {background:url(../img/fr.png) no-repeat 0 0;width:5px;height:22px;position:absolute;top:0;right:0;}
.tearea {background:url(../img/ftag.png) repeat-x 0 0;width:55%;padding:4px 6px 3px 6px;position:relative;}
.tearea textarea {background:none;border:0;width:100%;height:85px;font-family:Arial, Helvetica, sans-serif; font-size:12px;color:#252525;}
.tearea sub {background:url(../img/ftal.png) no-repeat 0 0;width:5px;height:92px;position:absolute;top:0;left:0;}
.tearea sup {background:url(../img/ftar.png) no-repeat 0 0;width:5px;height:92px;position:absolute;top:0;right:0;}

.cont_tel {font-size:13px;margin-bottom:22px;}
.cont_tel h2 {margin-bottom:15px;}
.cont_tel dl {margin-bottom:10px;line-height:21px;}
.cont_tel dl dt {color:#f55958;float:left;width:50px;}
.cont_tel dl dd {overflow:hidden;}
.cont_tel dl dd a {color:#000;}
.cont_tel dl dd ul {}
.cont_tel dl dd ul li em {font-size:17px;}

.skype {position:relative;}
.skype em {width:17px;height:17px;position:absolute;top:3px;left:-22px;background:url(../img/skype.png) no-repeat 0 0;}

.address {margin-bottom:20px}
.address h2 {margin-bottom:8px;}
.address p {margin-bottom:5px;max-width:220px;}
.address dl {margin-top:10px;}
.address dl dt {float:left;color:#f55958;width:50px;}
.address dl dd {overflow:hidden;}
.address dl dd a {color:#000;}
.address dl dd ul li {margin-top:3px;}
.address dl dd ul li:first-child {margin:0;}

.twork {margin-bottom:30px;}
.twork dl {}
.twork dl dt {}
.twork dl dd {color:#754c24;margin-top:2px;}

.callback {margin-bottom:20px;}
.callback > div:first-child {background:url(../img/callbicoup.png) no-repeat 0 3px;padding-left:25px;margin:0 0 10px -25px;float:left;}
.callback > div.active {background:url(../img/callbico.png) no-repeat 0 3px;padding-left:25px;margin-left:-25px;}
.callback span {color:#fd8914;border-bottom:1px dotted #fd8914;font-size:16px;cursor:pointer;line-height:18px;}
.callback span:hover {border-bottom:1px solid transparent;}
.callback .inp_f_text {width:160px;padding:2px 6px 5px 6px;margin-bottom:10px;}
.callback input {color:#797979;font-size:11px;}
.callback a {margin-left:6px;}
.callback form {display:none;}

.content.wrs {width:94%;}

.cont_wrap {width:100%;}
.cont_l {float:left;width:30%;}
.cont_r {float:right;width:70%;margin-top:5px;}
.cont_r_inn {background:url(../img/cont_r2.jpg) #f9f9f9 no-repeat 100% 100%;width:75%;padding:20px 26px;margin:0 auto;}
.cont_r_inn h2 {margin-bottom:35px;}
.cont_r_inn dl {margin-bottom:15px;overflow:hidden;}
.cont_r_inn dl em {color:#fc3202;margin-left:2px;position:relative;top:-3px;}
.cont_r_inn dl dt {width:100px;float:left;line-height:22px;position:relative;}
.cont_r_inn dl dd {overflow:hidden;}
.cont_r_inn dl dd div {float:left;width:95%;}

.map {}
.map h2 {margin-bottom:20px;}

.cont_r_inn .tst dt {line-height:16px;margin-top:3px;}
.cont_r_inn .tsj dt {line-height:13px;margin-top:-1px;}
.tsj .inp_f_text {width:20%;margin-right:15px;}
.regwrap .tsj .inp_f_text {width:15%;margin-right:15px;}

.content input[type="submit"] {font-size:12px;}

.content input[type="submit"] {background:url(../img/sendbut.png) no-repeat 0 0;width:141px;height:31px;border:0;text-align:center;cursor:pointer;color:#fff;font-weight:bold;text-shadow:1px 1px 0 #DA5D47;}
.content input[type="submit"]:hover {background:url(../img/sendbut_h.png) no-repeat 0 0;width:141px;height:31px;border:0;text-align:center;cursor:pointer;color:#fff;font-weight:bold;text-shadow:1px 1px 0 #DA5D47;}
.content input[type="submit"]::-moz-focus-inner {border:0;padding:0;margin:0;}
/*.content label {color:#ff0000;display:block;margin-top:5px;}*/

.topcontacts {margin:10px 0 0 5px;}
.topcontacts p {font-size:13px;}
.topcontacts .phone {font-size:32px;}
.topcontacts .phone .code {font-size:18px;color:#000;}
.topcontacts .phone em {display:inline-block; width:5px; background:url("../img/dot.png") no-repeat 0 18px; margin:0 4px; height:32px; line-height:32px;}

.copy span {color:#e93e38;}

.regwrap > ul {overflow:hidden;font-size:16px;color:#fd8914;margin:15px 0 25px;}
.regwrap > ul li {float:left;margin-right:15px;cursor:pointer;border:1px solid transparent;padding:55px 13px 10px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.regwrap > ul li span {border-bottom:1px dotted #fd8914;}
.regwrap > ul li:hover span {border-bottom:1px solid transparent;}
.regwrap > ul .active {color:#252525;border:1px solid #f64b25;}
.regwrap > ul .active span {border-bottom:1px solid transparent;}

.s1 {background:url(../img/s4.png) no-repeat 50% 12px;}
.s2 {background:url(../img/s2.png) no-repeat 50% 12px;}
.s1.active {background:url(../img/s1.png) no-repeat 50% 12px;}
.s2.active {background:url(../img/s3.png) no-repeat 50% 12px;}

.content {font-size:13px;}

.regwrap > form > h2 {margin:35px 0 25px;}

.regwrap dl {margin-bottom:15px;}
.regwrap dl dt {float:left;position:relative;line-height:22px;width:160px;}
.regwrap dl dd {overflow:hidden;}
.regwrap dl dd div {/*float:left;*/width:75%;}
.regwrap dl em {color:#fc3202;margin-left:2px;position:absolute;top:-3px;left:-12px;}

.fields dd {font-size:11px;}
.fields dd em {font-size:13px;color:#fc3202;margin-right:5px;top:-2px;}

.errors {margin-bottom:25px;color:#ff0000;width:70%;}

.notif {margin:7px 0;}
.notif input {vertical-align:top;position:relative;top:1px;margin-right:10px;}

.tsj dd > * {float:left;}

.content .fields em {position:static;}

.tax {}
.tax ul {margin:-10px 0 20px;}
.tax ul li {float:left;margin-right:10px;padding-bottom:1px;}
.tax ul li.active {}
.tax ul li span {cursor:pointer;color:#fd8914;border-bottom:1px dotted #fd8914;}
.tax ul li span:hover {border-bottom:1px solid transparent;}
.tax ul li.active span {color:#7f7f7f;border-bottom:1px solid transparent;}

.t2s {overflow:hidden;}
.regwrap .t2s dt {line-height:16px;margin-top:3px;}

.regwrap .pnr {margin-bottom:5px;}
.regwrap .pnr dt {width:25px;}
.regwrap .pnr dt input {vertical-align:top;margin-top:1px;}
.regwrap .pnr dd {width:75%;}

.hakk {}
.hakk span {color:#fd9514;border-bottom:1px dotted #fd9514;margin-left:7px;cursor:pointer;}
.hakk span:hover {border-bottom:1px solid transparent;}



.shadow {position:fixed;z-index:100;top:0;left:0;height:100%;width:100%;background:url(../img/dark.png);display:none;}
.popenter {position:fixed;top:100px;left:500px;z-index:101;background:#fff;border:1px solid #F64B25;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;padding:17px 24px 10px 24px;min-width:300px;display:none;}
.popenter h2 {font-size:17px;color:#252525;line-height:19px;margin:0 0 15px 74px;}
.popenter dl {overflow:hidden;line-height:21px;margin-bottom:10px;}
.popenter dl input[type="text"] {border:1px solid #c3c3c3;padding:2px 3px;width:150px;}
.popenter dl input[type="password"] {border:1px solid #c3c3c3;padding:2px 3px;width:150px;}
.popenter dl a {color:#f26522;font-size:11px;margin-left:10px;line-height:20px}
.popenter dl dt {float:left;width:75px;}
.popenter dl dd {float:left;overflow:hidden;}
.popenter dl dd label {;}
.popenter dl dd label input {vertical-align:top;position:relative;top:4px;margin-right:7px;}
.popenter div {position:absolute;top:-8px;right:-8px;background:url(../img/popclose.png) no-repeat 0 0;width:25px;height:25px;cursor:pointer;}

.popenter input[type="submit"] {margin-top:7px;font-size:12px;background:url(../img/sendbut.png) no-repeat 0 0;width:141px;height:31px;border:0;text-align:center;cursor:pointer;color:#fff;font-weight:bold;text-shadow:1px 1px 0 #DA5D47;}
.popenter input[type="submit"]:hover {background:url(../img/sendbut_h.png) no-repeat 0 0;width:141px;height:31px;border:0;text-align:center;cursor:pointer;color:#fff;font-weight:bold;text-shadow:1px 1px 0 #DA5D47;}
.popenter input[type="submit"]::-moz-focus-inner {border:0;padding:0;margin:0;}

.popok {display:none;width:350px;z-index:101;position:fixed;top:200px;left:500px;background:#fff;border:1px solid #F64B25;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;padding:30px 0 20px;text-align:center;}
.popok h2 {font-size:17px;color:#252525;margin-bottom:20px;}
.popok div:first-child {position:absolute;top:-8px;right:-8px;background:url(../img/popclose.png) no-repeat 0 0;width:25px;height:25px;cursor:pointer;}
.poksub {font-size:12px;background:url(../img/sendbut.png) no-repeat 0 0;width:141px;height:31px;line-height:29px;text-align:center;cursor:pointer;color:#fff;font-weight:bold;text-shadow:1px 1px 0 #DA5D47;margin:0 auto;}
.poksub:hover {font-size:12px;background:url(../img/sendbut_h.png) no-repeat 0 0;width:141px;height:31px;line-height:29px;text-align:center;cursor:pointer;color:#fff;font-weight:bold;text-shadow:1px 1px 0 #DA5D47;margin:0 auto;}

#midleft {margin-bottom:50px;}

.deliv {}
.infodel {margin-bottom:35px;}
.infodel h2 {margin-bottom:15px;}
.infodel ul {margin-bottom:10px;}
.infodel ul li {margin-top:2px;}

.dosop {margin-bottom:20px;}
.dosop h2 {margin-bottom:15px;}
.dosop dl {width:70%;}
.dosop dl dt {float:left;width:25px;}
.dosop dl dt input {vertical-align:top;margin-top:1px;}
.dosop dl dd {overflow:hidden;}
.dosop dl dd p {font-size:11px;color:#7f7f7f;line-height:17px;margin-top:4px;}

.mlc {overflow:hidden;margin-bottom:30px;height:22px;font-size:11px;line-height:22px;}
.mlc a {color:#fc8614;-webkit-border-top-left-radius: 3px;-webkit-border-bottom-left-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-bottomleft: 3px;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
.mlc div {position:relative;margin-right:30px;min-width:106px;}
.mlc .active em {position:absolute;top:0;right:-11px;background:url(../img/mlcar.png) no-repeat 0 0;width:11px;height:22px;}
.mlc-1 {float:left;}
.mlc-1 a {padding:0 5px 0 25px;}
.mlc-1 sub {background:url(../img/mlcicos.png) no-repeat -15px 0;position:absolute;top:4px;left:5px;width:15px;height:14px;}
.mlc-1.active sub {width:15px;height:16px;background:url(../img/mlcicos.png) no-repeat 0 0;position:absolute;top:3px;left:5px;}
.mlc-2 {float:left;}
.mlc-2 a {padding:0 5px 0 30px;}
.mlc-2 sub {background:url(../img/mlcicos.png) no-repeat -16px -16px;position:absolute;top:5px;left:5px;width:16px;height:12px;}
.mlc-2.active sub {width:16px;height:13px;background:url(../img/mlcicos.png) no-repeat 0 -16px;position:absolute;top:4px;left:8px;}
.mlc div a {font-weight:bold;color:#fc8614;display:block;}
.mlc .active a {background:url(../img/mlcgrad.png) #fe914b repeat-y 0 0;font-weight:bold;color:#fff;text-decoration:none;}

.discbox {margin-bottom:30px;}
.discbox div {margin-left:-5px;}
.discbox dl {width:40%;border:1px solid #f0e5da;overflow:hidden;margin-bottom:1px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.discbox dt {float:left;color:#603913;padding:3px 5px;padding-bottom:20000px;margin-bottom:-19997px;width:77%;}
.discbox dd {color:#111;width:45px;text-align:center;font-weight:bold;background:#f0e5da;float:right;padding:3px 0 3% 0;padding-bottom:20000px;margin-bottom:-19997px;overflow:hidden;}

.lc table {width:100%;}
.lc tr {}
.lc > table > tbody > tr:first-child {border-bottom:1px solid #ffb3a4;}
.lc > table > tbody > tr {border-bottom:1px dotted #fccbc6;}
.lc > table > tbody > tr:first-child td {font-size:12px;font-weight:bold;background:none;color:#000;line-height:12px;padding:0 0 5px 0;}
.lc > table > tbody > tr:first-child .lt-3 {text-align:right;}
.lc > table > tbody > tr > td {vertical-align:top;padding:8px 0;}
.lt-3 {background:#fff2e9;color:#fb4f4f;text-align:center;max-width:80px;min-width:80px;width:80px;font-size:14px;}
.lt-4 {text-align:center;width:13%;}
.lt-1 {width:11%;}
.lt-0 {width:8%;}
.lt-2 {width:60%;}
.lt-2 span {cursor:pointer;color:#663d15;border-bottom:1px dotted #663d15;}
.lt-2 span:hover {border-bottom:1px solid transparent;}
.lt-2 table {margin:10px 0 5px;width:90%;font-size:12px;}
.lt-2 table tr {border-top:1px dotted #767676;}
.lt-2 table tr:first-child {border:0;}
.lt-2 table td {text-align:right;vertical-align:top;padding:7px 0;}
.lt-2 table td:first-child {text-align:left;}

.ltt-0 {}
.ltt-0 dl {color:#555;font-size:11px;margin-top:2px;}
.ltt-0 dl dt {float:left;margin-right:15px;}
.ltt-0 dl dd {}
.ltt-0 a {color:#000;font-size:13px;}
.ltt-1 {width:15%;font-size:13px;}
.ltt-2 {width:9%;font-size:13px;}
.ltt-3 {width:14%;color:#5b3612;font-size:13px;font-weight:bold;}
.ltt-3 span, .ltt-1 span {border:none; cursor:default;}
.ltt-1 span {color:black;}


.st-1 {background:url(../img/stats.png) no-repeat 0 0;width:12px;height:12px;margin:2px auto 0 auto;}
.st-2 {background:url(../img/stats.png) no-repeat -12px 0;width:12px;height:12px;margin:2px auto 0 auto;}
.st-3 {background:url(../img/stats.png) no-repeat -24px 0;width:12px;height:12px;margin:2px auto 0 auto;}

.last .lt-0 {font-weight:bold;font-size:13px;text-align:right;vertical-align:middle;padding-right:20px;}
.last .lt-1 {font-weight:bold;font-size:16px;text-align:center;vertical-align:middle;color:#fb4f4f;background:#fff2e9;max-width:80px;min-width:80px;width:80px;}
.last .lt-2 {vertical-align:middle;font-size:13px;padding-left:5px;width:13%;}
.lc table .last > td {padding-top:12px;}

.lc > table > tbody > tr:first-child table {margin:0;}
.lc > table > tbody > tr:first-child .ltt-1 {font-size:11px;font-weight:normal;}
.lc > table > tbody > tr:first-child .ltt-2 {font-size:11px;font-weight:normal;}
.lc > table > tbody > tr:first-child .ltt-3 {font-size:11px;font-weight:normal;color:#5b3612;}

 /* alphabet */
.al-list {margin:0 -120px;}
.al-list ul {width:100%;margin-bottom:50px;}
.al-list ul li {float:left;margin-right:1%;}
.al-list ul li a {color:#f85756;text-decoration:none;display:block;border-bottom:1px dotted #f85756;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;border-top-left-radius:3px;border-top-right-radius:3px;}
.al-list ul li a:hover {border-bottom:1px solid transparent;}
.al-1 {font-size:16px;margin-top:13px;}
.al-1 a {line-height:20px;}
.al-1 .active {width:20px;text-align:center;}
.al-2 {font-size:29px;margin-top:3px;}
.al-2 a {line-height:30px;}
.al-2 .active {width:30px;text-align:center;}
.al-3 {font-size:38px;}
.al-3 a {line-height:33px;}
.al-3 .active {width:36px;text-align:center;}

.al-list ul li.al-1 .active {background:url(../img/abcgrad.png) #fc824e repeat-x 0 0;color:#fff;padding-top:14px;margin-top:-14px;position:relative;border:0;}
.al-list ul li.al-2 .active {background:url(../img/abcgrad.png) #fc824e repeat-x 0 0;;color:#fff;padding-top:14px;margin-top:-14px;position:relative;border:0;}
.al-list ul li.al-3 .active {background:url(../img/abcgrad.png) #fc824e repeat-x 0 0;color:#fff;padding-top:14px;margin-top:-14px;position:relative;border:0;}
.al-list ul li.al-1 .active em {position:absolute;right:0;bottom:-10px;border-color:#fc824e transparent transparent;border-style:solid;border-width:10px 10px 0;height:0;width:0;}
.al-list ul li.al-2 .active em {position:absolute;right:0;bottom:-15px;border-color:#fc824e transparent transparent;border-style:solid;border-width:15px 15px 0;height:0;width:0;}
.al-list ul li.al-3 .active em {position:absolute;right:0;bottom:-18px;border-color:#fc824e transparent transparent;border-style:solid;border-width:18px 18px 0;height:0;width:0;}

.alphbox {overflow:hidden;margin-bottom:50px;}
.alphbox .clr {padding-top:25px;}
.alphbox dl {float:left;width:49%;}
.alphbox dt {color:#38210b;font-size:16px;}
.alphbox dd {margin-top:7px;}
.alphbox ul {margin-left:27px;}
.alphbox li {margin-top:4px;}
.alphbox li:first-child {margin:0;}
.alphbox a {color:#595959;font-size:13px;}

/* paginator */
.paginator {font-size:11px;margin-top:40px;text-align:center;}
.pagination {;}
.pagination > * {margin-right:4px;float:left;}
.paginator a {display:block;border:1px solid transparent;padding:3px;}
.paginator .dt {color:#3c332a;text-decoration:none;}
.paginator .dt:hover {text-decoration:underline;}
.paginator span {color:#fc3f0d;display:block;height:22px;line-height:22px;margin-right:6px;background:url(../img/pagar.png) no-repeat 100% 0;text-align:center;padding-right:3px;width:32px;}

/* cart */
.cart {width:100%;margin-top:30px;margin-bottom:1px;}
.cart tr {border-bottom:1px dotted #ffc1c1;}
.cart .last {border:0}
.cart tr:first-child {border-bottom:1px solid transparent;}
.cart tr:first-child td {font-size:11px;color:#7f7f7f;line-height:12px;padding-bottom:5px;}
.cart tr:first-child td {font-weight:normal;}
.cart tr:first-child td span {text-align:right;display:inline-block;}
.cart tr:first-child td:first-child {vertical-align:middle;}
.cart td:first-child {vertical-align:top;}
.cart td {padding:10px 0;}

/*.cart tr:first-child .ct-2, .cart tr:first-child .ct-3 {text-align:center;}*/

.cart tr:first-child .ct-2, .cart tr:first-child .ct-6 {vertical-align:bottom;}

.cart .ct-0 {width:4%;}
.cart .ct-1 {width:41%;}
.ct-1 a {color:#252525;}
.ct-1 dl {color:#7f7f7f;font-size:11px;margin-top:3px;}
.ct-1 dt {float:left;margin-right:10px;}
.ct-1 dd {;}
.ct-2 {width:11%;text-align:center;}
.ct-2 div {width:42px;margin:0 auto;position:relative;}
.ct-2 div input {text-align:center;}
.ct-3 {color:#181818;width:11%;text-align:center;}
.ct-4 {color:#7bab19;width:9%;text-align:center;}
.ct-5 {color:#181818;font-weight:bold;width:10%;text-align:center;}
.ct-6 {background:#fff2e9;color:#f55958;font-weight:bold;width:10%;text-align:center;}
.ct-7 {width:4%;}

.ct-3 em, .ct-5 em, .ct-6 em {display:none;}

.cdel {width:16px;height:16px;background:url(../img/cardel.png) no-repeat 0 0;display:block;margin:0 auto;}
.cdel:hover {background-position:-16px 0;}

.minus {width:10px;height:11px;background:url(../img/pm.png) no-repeat 0 0;display:block;position:absolute;top:6px;left:-10px;cursor:pointer;}
.plus {width:10px;height:11px;background:url(../img/pm.png) no-repeat -10px 0;display:block;position:absolute;top:6px;right:-10px;cursor:pointer;}

.itog {width:100%;font-size:12px;}
/*.itog tr:first-child .it-2 {color:#603913;}*/
.itog td {padding-top:10px;padding-bottom:10px;}
/*.itog tr:first-child td {padding-bottom:0;}*/
.it-1 {width:86%;text-align:right;padding-right:14px;}
.it-2 {width:10%;background:#fff2e9;text-align:center;color:#7bab19;font-size:13px;}
.it-3 {width:4%;padding-left:6px;}
.itog .last {border-top:1px solid #fff;}
.itog .last td {font-weight:bold;}
.itog .last .it-2 {font-size:16px;color:#f55958;}

.it-1 dt {float:left;}
.it-1 dt a {color:#ff0000;display:block;text-decoration:none;background:url(../img/delallcart.png) no-repeat 0 50%;padding-left:12px;}
.it-1 dt a span {border-bottom:1px dotted #ff0000;}
.it-1 dt a:hover span {border-bottom:1px solid transparent;}
.it-1 dd {text-align:right;}

.zp {float:right;margin-top:20px;overflow:hidden;}
.zp dt {float:left;margin:7px 20px 0 0;}
.zp dt a {color:#7bab19;text-decoration:none;display:block;background:url(../img/perico.png) no-repeat 0 50%;padding-left:18px;}
.zp dt a:hover span {border-bottom:1px solid transparent;}
.zp dt a span {border-bottom:1px dotted #7bab19;}
.zp dd {float:left;}


/* add menu */
.subcategory a.active {color:#fd8914;}
.subcategory a.active:hover span {border-bottom:2px solid #fd8914;}
.subcategory a.active:hover {border-bottom:2px solid #fd8914;}
.subcategory a.active:active span {border-bottom:2px solid #fd8914;}
.categories .closed a.active {color:#f7941d;}
.categories .closed a.active span {}
.categories .opened a.active {color:#f7941d;}
.categories .opened a.active span {;}
.categories .parent.active span {border-bottom: 1px dotted #fd8914;}
.categories .parent.active span:hover {border-bottom: 1px solid transparent;}

/* products */
.prodwrap {;}
.prodwrap h2 {margin:10px 0 20px;}
.prodwrap h2:first-child {margin-top:0;}
.prodwrap h2 a {color:#3c332a;text-transform:uppercase;font-weight:bold;}
.products {margin:0 -5% 0 -2%;}
.products > div {display:inline-block;vertical-align:top;position:relative;width:30%;margin:0 0 30px 2%;}
.products > div h4 {color:#3c332a;font-weight:bold;font-size:15px;margin-bottom:20px;}
.forimg {line-height:0;width:140px;height:140px;margin:0 auto;overflow:hidden;}
.forimg img {width:140px;height:140px;}
.stat-1 {background:url(../img/prodicons.png) no-repeat 0 0;width:62px;height:18px;position:absolute;top:0;left:0;}
.stat-2 {background:url(../img/prodicons.png) no-repeat 0 -18px;width:54px;height:21px;position:absolute;top:0;left:0;}
.stat-3 {background:url(../img/prodicons.png) no-repeat 0 -39px;width:66px;height:18px;position:absolute;top:0;left:0;}
.prcart {margin-bottom:10px;position:relative;}
.prcart dt {color:#fff;font-size:12px;float:left;background:url(../img/prodprb.jpg) #f55858 no-repeat 100% 0;min-width:64px;height:22px;line-height:22px;padding:0 9px 0 5px;text-align:center;}
.prcart dt span {font-size:10px;}
.prcart dt em {font-size:13px;}
.prcart dd {float:right;}
.prcart dd a {font-size:11px;display:block;line-height:19px;height:22px;background:url(../img/cart.png) no-repeat 0 50%;text-decoration:none;padding-left:25px;}
.prcart dd a span {border-bottom:1px dotted #FD9514;}
.prcart dd a:hover span {border-bottom:1px solid transparent;}
.products > div p {line-height:14px;font-size:11px;color:#6f5841;margin-bottom:0;text-align:justify;}
.shcode {font-size:11px;overflow:hidden;line-height:18px;margin-bottom:10px;}
.shcode dt {height:18px;color:#070707;float:left;background:url(../img/code.png) no-repeat 0 0;padding-left:31px;display:block;}
.shcode dd {height:18px;color:#f55858;background:#ffe5cb;float:right;padding:0 4px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin-right:5%;}
.prcart del {position:absolute;top:-22px;left:10px;font-size:10px;color:#252525;font-weight:bold;}

.prcart:after {content:".";font-size:0;height:0;display:block;line-height:0;clear:both;overflow:hidden;}

.sortby {border-bottom:1px solid #fbd6d5;padding-bottom:15px;margin-bottom:15px;}
.sortby ul {height:22px;overflow:hidden;}
.sortby * {line-height:20px;}
.sortby ul li {float:left;margin-left:15px;}
.sortby ul li:first-child {color:#502f10;font-size:13px;font-weight:bold;margin-left:0;}
.sortby ul li a {display:inline-block;vertical-align:top;position:relative;}
.sortby ul li .active em {background:url(../img/sortr.jpg) no-repeat 0 0;width:26px;height:22px;position:absolute;top:0;right:0;}
.sortby ul li .active {font-size:11px;color:#626262;background:url(../img/sort.jpg) repeat-x 0 0;padding:0 33px 0 8px;text-decoration:none;line-height:22px;}

/* filters */
.filters {width:16%;float:right;margin:37px 2% 0 0;background:#fff1e3;font-size:13px;padding:20px 15px 20px 20px;}
.filters h3 {font-weight:bold;color:#502f10;font-size:13px;margin-bottom:8px;}
.reset {font-size:11px;margin-bottom:15px;}
.reset a {background:url(../img/delallcart.png) no-repeat 0 4px;text-decoration:none;color:#fe2b2b;padding-left:13px;}
.reset a span {border-bottom:1px dotted #fe2b2b;}
.reset a:hover span {border-bottom:1px solid transparent;}
.filters ul {margin-bottom:15px;}
.filters ul li {margin-top:2px;}
.filters ul li:first-child {margin:0;}
.filters input {vertical-align:top;position:relative;top:2px;margin-right:10px;}
.sapr {margin:-10px 0 15px;}
.sapr span {color:#555;border-bottom:1px dotted #555;cursor:pointer;}
.sapr span:hover {border-bottom:1px solid transparent;}
.filters input[type="submit"] {padding:2px 5px;display:inline-block;}
.filters input[type="submit"]::-moz-focus-inner {border:0;padding:0;margin:0;}
.filters .s {text-align:center;}
#midleft .info {float:none;margin:60px 0 0 15%;}

/* search */
.content .search {width:75%;margin-bottom:20px;}
body .content .s_btn {background: url("../img/bg.png") no-repeat -6px -154px;border: none;cursor: pointer; height: 26px; position: absolute; right: -24px; top: 0; vertical-align: top; width: 24px; z-index: 2;}
body .content .s_inp {color:#252525; font-size:14px;}
body .content .s_btn:hover {background: url("../img/bg.png") no-repeat -6px -154px;border: none;cursor: pointer; height: 26px; position: absolute; right: -24px; top: 0; vertical-align: top; width: 24px; z-index: 2;}
body .content .s_inp:hover {color:#252525; font-size:14px;}

.content .found {font-size:14px;margin-bottom:30px;}
.found span {color:#7bab19;}

.notfound {width:75%;}
.content .notfound p {font-size:14px;}

/* menu add */
ul.subcategory {}
ul.subcategory li {;}
ul.subcategory li em {border-bottom:1px dotted #010100;cursor:pointer;}
ul.subcategory li em:hover {border-bottom:1px solid transparent;}
ul.subcategory li ul {margin:0 0 0 5%;}
ul.subcategory li ul li {margin:5px 0 0;}
ul.subcategory li ul li a:hover {border-bottom:2px solid #80807F;}

.tpt {width:410px;float:left;}
.tpt > dt {;}
.tpt > dt img {width:400px;height:400px;display:block;}
.tpt > dd {margin-top:10px;}
.tpt ul {margin-bottom:30px;}
.tpt ul li {display:inline-block;vertical-align:top;margin-right:5px;}
.tpt ul li img {width:90px;height:90px;cursor:pointer;display:block;}

.tpt dd dl {color:#8c6239;}
.tpt dd dl span {color:#070707;}
.tpt dd dl dt {float:left;}
.tpt dd dl dt span {font-size:11px;}
.tpt dd dl dd {text-align:right;}
.tpt dd p {font-size:11px;line-height:17px;margin:10px 0;}
.tpt dd div {color:#8c6239;margin-bottom:7px;}
.tpt dd div span {color:#070707;}

.tptr {float:left;margin-left:5%;}
.hs {margin-left:5px;color:#54a61a;background:url(../img/hs.png) no-repeat 2px 0;height:18px;line-height:18px;padding-left:28px;margin-bottom:10px;}
.nhs {margin-left:5px;color:#e23d29;background:url(../img/no.png) no-repeat 2px 0;height:18px;line-height:18px;padding-left:28px;margin-bottom:10px;}
.action {margin-left:5px;height:21px;color:#c69c6d;background:url(../img/action.png) no-repeat 0 0;line-height:21px;padding-left:28px;font-weight:bold;font-size:8px;text-transform:uppercase;margin-bottom:10px;}

.tdesc {border:1px solid #fccdc0;padding:10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;overflow:hidden;}
.tdcol {float:left;margin-bottom:10px; margin-right:20px;}
.tdcol dt {color:#252525;font-weight:bold;}
.tdcol dd {margin-top:10px;}
.tdlen {float:left;margin:0 0 10px 0;}
.tdlen dt {color:#252525;font-weight:bold;}
.tdlen dd {margin:10px 0 0 10px;}
.tdlen dd input {text-align:center;}
.tdlen .inp_f_text {width:43px;}
.tdesc p {font-weight:bold;}
.tdesc p del {font-weight:normal;}
.tdprice dt {float:left;height:35px;line-height:35px;color:#fff;font-size:18px;background:url(../img/bigprice.png) #F55857 no-repeat 100% 0;min-width:116px;text-align:center;-webkit-border-top-left-radius: 3px;-webkit-border-bottom-left-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-bottomleft: 3px;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
.tdprice dt span, .tdprice dt em {font-size:12px;}
.tdprice dd {float:left;margin:5px 0 0 10px;}
.tdprice dd a {text-decoration:none;background:url(../img/cartbig.png) no-repeat 0 0;height:22px;line-height:22px;display:block;padding-left:29px;}
.tdprice dd a span {border-bottom:1px dotted #fd8914;}
.tdprice dd a:hover span {border-bottom:1px solid transparent;}
.video {}
.video a {margin:10px 0 0 10px;background:url(../img/videoico.png) no-repeat 0 0;display:inline-block;height:29px;line-height:13px;font-size:11px;color:#7d7d7d;padding-left:50px;}

/* sop tov */
.sopt {background:url(../img/stb.png) #fff1e3 repeat-y 0 0;;margin-top:50px;padding:20px 5%;}

.tovwrap {}
.tovwrap dl {overflow:hidden;}
.tovwrap dt {float:left;}
.tovwrap dt img {display:block;margin-right:20px;width:90px;height:90px;}
.tovwrap dd {float:left;width:50%;}
.tovwrap h4 {color:#3c332a;font-size:15px;font-weight:bold;margin-bottom:3px;}
.tovwrap h4 a {color:#3c332a;text-decoration:none;}
.tovwrap h4 a:hover {text-decoration:underline;}
.tovwrap dd > span {display:inline-block;font-size:11px;color:#070707;margin-bottom:5px;}
.tovwrap p {color:#6f5841;font-size:11px;line-height:14px;margin-bottom:10px;}
.tovwrap i {font-style:normal;color:#fff;font-size:12px;float:left;background:url(../img/prodprb.jpg) #f55858 no-repeat 100% 0;min-width:64px;height:22px;line-height:22px;padding:0 9px 0 5px;text-align:center;display:inline-block;}
.tovwrap i span {font-size:10px;}

.bob > div {float:left;width:50%;}
.bob {overflow:hidden;}

.content .st_title {float:left;width:210px;height:18px;background:url(../img/st-tit.png) no-repeat 0 0;text-indent:-9999px;margin-bottom:20px;}

.soptlist {float:left;margin-left:20px;}
.soptlist strong {background:url(../img/bg.png) no-repeat -56px 0;display:inline-block;height:8px;width:8px;margin-right:5px;cursor:pointer;}
.soptlist strong.active {background-position:-48px 0;}

.last em, .lt-3 em, .ltt-1 em, .ltt-3 em {display:none;}

.newswrap div {margin-bottom:25px;}
.newswrap a {font-size:14px;}
.newswrap dl {overflow:hidden;margin-top:10px;}
.newswrap dt {color:#F74B26;font-size:11px;float:left;margin-right:15px;padding-top:2px;}
.newswrap dd {overflow:hidden;}

.pass dt input {border:1px solid #c3c3c3;padding:2px 3px;width:200px;}
.pass dd {margin-top:15px;}

.newproduct .olp {text-decoration:line-through; position:absolute; top:-17px; left:0;}
.lider .olp {text-decoration:line-through; position:absolute; top:-20px; left:35px;}
.newproduct .item-buy {position:relative;}

#main_social {
	float: left;
	margin-left: 3%;
}
#main_social .fb { margin: 10px 0; }
#main_social .vk { margin-bottom: 10px; }
#midbot #social_links {
	bottom: 2%;
	left: 4%;
	position: absolute;
}
#vk_groups { border: 1px solid #5B7FA6; border-width: 0 1px; }

.product_social, .product_social .fb { margin: 5px 0; }